* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --primary-color: #F55B64;
    --secondary-color: #C2373F;
    --neutral: #F9F9F9;
    --black: #131730;
    --purple: #9353FF;
    --title-font: "Krona One", sans-serif;
    --text-font: 'Numans', sans-serif;
    --blue-gradient: linear-gradient(180deg, #6A85B6 0%, #BAC8E0 100%);
}

body {
    background: var(--blue-gradient);
    background-repeat: no-repeat;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    margin: 0;
}

main {
    background-color: #EBEDE3;
    margin-top: 64px;

    display: flex;
    flex-direction: column;
    gap: 24px;
    max-width: 600px;
    width: 100%;
    padding: 56px;
    text-align: center;
    align-items: center;
    border-radius: 16px;
}

h2 {
    font-family: var(--title-font), serif;
    color: var(--primary-color);
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    margin:15px;
}

hr {
    border: none;
    border-bottom: 3px dotted var(--primary-color);
    margin-bottom: 24px;
}

p {
    font-family: var(--text-font), serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}

.input-item {
    display: block;
    padding: 12px 16px;
    border-radius: 24px;
    border: 1px solid var(--black);
    width: 307px;
    font-family: var(--text-font), serif;
}

.input-item::placeholder {
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    line-height: 19px;
}

.button-item {
    padding: 8px 16px;
    border-radius: 24px;
    background-color: var(--primary-color);
    color: var(--neutral);
    font-family: var(--text-font), serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    border: none;
}

.delete {
    padding: 4px 10px;
    border-radius: 24px;
    background-color: black;
    color: var(--neutral);
    font-family: var(--text-font), serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    border: none;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.container-list {
    text-align: center;
    width: 100%;
}

.list-item-container {
    display: flex;
    justify-content: space-between;
}

.list-item-container div {
    display: flex;
    gap: 8px;
}



ul {
    list-style-type: none;
    width: 100%;
    line-height: 20px;
}

.checkbox-input {
    display: none;
}

.customized-checkbox {
    width: 20px;
    height: 20px;
    background-color: var(--neutral);
    border: 1px solid var(--black);
    cursor: pointer;
    border-radius: 4px;
}

.checked {
    background-color: var(--black);
    position: relative;
}


.customized-checkbox {
    width: 20px;
    height: 20px;
    background-color: var(--neutral);
    border: 1px solid var(--black);
    cursor: pointer;
    border-radius: 4px;
}


.checked {
    background-color: var(--black);
    position: relative;
}

.customized-checkbox.checked::after {
    content: "";
    position: absolute;
    left: 30%;
    top: -10%;
    width: 5px;
    height: 14px;

    border-top: 2px solid var(--neutral);
    border-left: 2px solid var(--neutral);

    transform: rotate(-140deg);
}


.text-date {
    font-size: 12px;
    line-height: 20px;
}


.list-item-button {
    background-color: transparent;
    border: none;
}

.list-container {
    width: 100%;
}

@media (max-width: 768px) {
    main {
        margin: 16px;
        padding: 18px;
        width: auto;
    }
}

